This analysis aims to find: 
* no. of people whose language is French 'fr'.
* no. of Job titles contains Eggineer.
* no. of people have mastercard as their credit card provider and made a purchase above 50
*  no.of people have a credit card expires in 2020.
* top 5 most popular email providers(e.g. gmail.con, yahoo.com, etc...)

In [ ]:
import pandas as pd
data = pd.read_csv('Ecommerce Purchases')
data.head()

                                             Address  ... Purchase Price
0  16629 Pace Camp Apt. 448\nAlexisborough, NE 77...  ...          98.14
1  9374 Jasmine Spurs Suite 508\nSouth John, TN 8...  ...          70.73
2                   Unit 0065 Box 5052\nDPO AP 27450  ...           0.95
3              7780 Julia Fords\nNew Stacy, WA 45798  ...          78.04
4  23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...  ...          77.82

[5 rows x 14 columns]

In [ ]:
#Checking the data types of each column
print(data.dtypes)

Address              object
Lot                  object
AM or PM             object
Browser Info         object
Company              object
Credit Card           int64
CC Exp Date          object
CC Security Code      int64
CC Provider          object
Email                object
Job                  object
IP Address           object
Language             object
Purchase Price      float64
dtype: object

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

In [ ]:
#Finding no. of people whose language is French 'fr'
print(len(data[data['Language'] == 'fr']))
print('-------')
print(data[data['Language'] == 'fr'].count())

1097
-------
Address             1097
Lot                 1097
AM or PM            1097
Browser Info        1097
Company             1097
Credit Card         1097
CC Exp Date         1097
CC Security Code    1097
CC Provider         1097
Email               1097
Job                 1097
IP Address          1097
Language            1097
Purchase Price      1097
dtype: int64

In [ ]:
#Finding job title contains Engineer
len(data[data['Job'].str.contains('engineer', case=False)])

984

In [ ]:
#Finding no. of people have mastercard as their credit card provider and made a purchase above 50
print(len(data[(data['CC Provider']=="Mastercard") & (data['Purchase Price']>50)]))
print('-----------')
print(data[(data['CC Provider']=="Mastercard") & (data['Purchase Price']>50)].count())

405
-----------
Address             405
Lot                 405
AM or PM            405
Browser Info        405
Company             405
Credit Card         405
CC Exp Date         405
CC Security Code    405
CC Provider         405
Email               405
Job                 405
IP Address          405
Language            405
Purchase Price      405
dtype: int64

In [ ]:
#Finding no.of people have a credit card expires in 2020
data['CC Exp Date']

0       02/20
1       11/18
2       08/19
3       02/24
4       10/25
        ...
9995    03/22
9996    07/25
9997    05/21
9998    11/17
9999    02/19
Name: CC Exp Date, Length: 10000, dtype: object

In [ ]:
print(len(data[data['CC Exp Date'].apply(lambda x: x[3:] == '20')]))

988

In [ ]:
#Finding top 5 most popular email providers(e.g. gmail.con, yahoo.com, etc...)
data['Email']

0                    pdunlap@yahoo.com
1                   anthony41@reed.com
2       amymiller@morales-harrison.com
3          brent16@olson-robinson.info
4          christopherwright@gmail.com
                     ...
9995            iscott@wade-garner.com
9996                mary85@hotmail.com
9997                 tyler16@gmail.com
9998           elizabethmoore@reid.net
9999             rachelford@vaughn.com
Name: Email, Length: 10000, dtype: object

In [ ]:
data['Email'].apply(lambda x: x.split('@')[1]).value_counts().head()

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64